.dropdownContainer {
    position: relative;
    display: inline-block;

  }
  
  .dropdownButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .arrow {
    margin-left: 5px;
  }
  
  .dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    z-index: 1000;
  }
  
  .dropdownItem {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdownItem:hover {
    background-color: #f0f0f0;
  }
  