.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  border: none;
  border-bottom: 1px solid rgb(209, 206, 206);
  border-top: 1px solid rgb(209, 206, 206);
}

.homePage {
  display: none;
}

.items {
  display: flex;
  align-items: center;
}

.items p {
  margin-right: 20px;
  color: rgb(90, 87, 87);
  font-size: 0.9rem;
}

.dropdown {
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  width: 100%;
}

.containerWithSidebar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  flex: 1;
}

.containerWithoutSidebar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  flex: 1;
  margin-left: auto;
}

.productSection {
  flex: 1;
  padding: 20px;
}

.header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: lighter;
}

.paragraph {
  width: 50%;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 20px;
  margin-left: 25%;
}

@media (max-width: 768px) {
  .controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 25%;
  }
  .homePage {
    display: flex;
    font-size: 14px;
  }
  .homeShop {
    color: rgb(0, 195, 255);
    margin-right: 5px;
  }
  .header {
    font-size: 20px;
  }
  .paragraph {
    width: 76%;
    font-size: 18px;
    margin-left: 12%;
  }
  .items p { 
    display: none;
  }
  .items button { 
    border: none;
    background-color: #fff;
  }
}
